body {
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.btn {
  margin-top: 10px;
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  border: hidden;
  padding: 1% 3%;
  border-radius: 15px;
  box-shadow: 5px 2px 5px rgba(220, 20, 187, 0.432);
  font-weight: 700;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}

div {
  cursor: pointer;
  border: 1px black solid;
  margin: 3px;
  border-radius: 50%;
  display: inline-block;

}

.hidden {
  display: none;
}
